<h1 class="text-center text-light" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Add Librarian Details here...</h1>
<div class="col-md-5 offset-md-4 mt-5 card" style="background-color: transparent;">
    <form>
        <div class="form-group">
            <label for="userId" class="text-dark">Librarian Id</label>
            <input type="number" name="userId" id="userId" class="form-control" required placeholder="Enter Librarian Id">
            <div *ngIf="userId.touched && userId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userName" class="text-dark">Librarian Name</label>
            <input type="text" name="userName" id="userName" class="form-control" required placeholder="Enter Librarian name">
            <div *ngIf="userName.touched && userName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userEmail" class="text-dark">Librarian Email</label>
            <input type="email" name="userEmail" id="userEmail" class="form-control"
                required placeholder="Enter Librarian email">  
            <div *ngIf="userEmail.touched && userEmail.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userPassword" class="text-dark">Librarian Password </label>
            <input type="password" name="userPassword" id="userPassword"
                class="form-control" required placeholder="Enter password">
            <div *ngIf="userPassword.touched && userPassword.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userMobile" class="text-dark">Librarian Contact Number</label>
            <input type="number" name="userMobile" id="userMobile" class="form-control"
                required placeholder="Enter mobile num..">
        </div>
        <div *ngIf="userMobile.touched && userMobile.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>
        <input type="hidden" name="type" id="type" #type="ngModel" [(ngModel)]=name>
        <button type="submit" class="btn btn-outline-primary float-right" [disabled]="registerUser.invalid">add</button>
    </form>
</div>