<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0f2862">
    <a class="navbar-brand" routerLink="">
        <h2 class="font-weight-bolder font-italic" style="color: #FFFFFF">Library Management</h2>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a class="nav-link font-weight-bolder" routerLink="/">Home</a>
            </li>
            <li class="nav-item active" *ngIf="isALoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/addUser">Add Librarian</a>
            </li>
    
            <li class="nav-item active" *ngIf="isALoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/searchUser">Search Librarian</a>
            </li>

            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/addUser">Add Student</a>
            </li>
            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/searchUser">Search Student</a>
            </li>
            
            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/addBook">Add Book</a>
            </li>
            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/updateBook">Update Book</a>
            </li>
            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/deleteBook">Delete Book</a>
            </li>
            <li class="nav-item active" *ngIf="isLLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/requestBook">Requeste Book</a>
            </li>

            <li class="nav-item active" *ngIf="isSLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/searchBook">Search Book</a>
            </li>
            <li class="nav-item active" *ngIf="isSLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/requestedBook">Requested Book</a>
            </li>
            <li class="nav-item active" *ngIf="isSLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/responseBook">Response Book</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-2">
            <li class="nav-item active" *ngIf="!isALoggedIn && !isLLoggedIn && !isSLoggedIn">
                <a class="nav-link font-weight-bolder" routerLink="/login">Login </a>
            </li>
            
            <li class="nav-item active" *ngIf="isALoggedIn || isLLoggedIn || isSLoggedIn">
                <button type="button" class="btn btn-primary font-weight-bolder" (click)="logout()">Logout</button>
            </li>

        </ul>
    </div>
</nav>