<h1 class="text-center text-light" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add Student Details here...</h1>
<div class="col-md-5 card offset-md-4 mt-5" style="background-color: transparent;">
    <form>
        <div class="form-group">
            <label for="userId" class="text-dark">Student Id</label>
            <input type="number" name="userId" id="userId" class="form-control" required placeholder="Enter student Id">
            <div *ngIf="userId.touched && userId.invalid">
                <p class="alert alert-danger"> *This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="userName" class="text-dark">Student Name</label>
            <input type="text" name="userName" id="userName" class="form-control" required placeholder="Enter student name">
            <div *ngIf="userName.touched && userName.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="author1" class="text-dark">First Author</label>
            <input type="text" name="author1" id="author1" class="form-control"
                required placeholder="Enter author name">  
            <div *ngIf="author1.touched && author1.invalid">
                <p class="alert alert-danger"> This field is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="author2" class="text-dark">Second Author </label>
            <input type="text" name="author2" id="author2"
                class="form-control" required placeholder="Enter Second author">
        </div>

        <div class="form-group">
            <label for="publisher" class="text-dark">Publisher </label>
            <input type="text" name="publisher" id="publisher" class="form-control"
                required placeholder="Enter publisher name">
        </div>
        <div *ngIf="publisher.touched && publisher.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>

        <div class="form-group">
            <label for="yearOfPublication" class="text-dark">Year Of Publication </label>
            <input type="text" name="yearOfPublication" id="yearOfPublication" class="form-control"
                required placeholder="Enter year">
        </div>
        <div *ngIf="yearOfPublication.touched && yearOfPublication.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>

        <input type="hidden" name="type" id="type" #type="ngModel" [(ngModel)]=name>
        <button type="submit" class="btn btn-outline-primary float-right" [disabled]="registerUser.invalid">add</button>
    </form>
</div>