<div>
    <div class="card  text-black">
      <img class="card-img" src="https://cdn.pixabay.com/photo/2017/07/18/23/40/group-2517459_960_720.png" alt="Card image"
        style="border-style: none; border-width: 0px">
      <div class="card-img-overlay">
  
        <div class="container">
          <div class="row">
            <div class="col">
              <h4 *ngIf="details" class=" card card-body col-md-4 offset-md-4 text-center mt-4 font-weight-bolder font-italic"
                style="background-image: url(https://image.shutterstock.com/image-photo/black-cracked-texture-can-be-260nw-263213627.jpg); color: rgb(241, 229, 236);">
                Allocated Book Details</h4>
                <h4 *ngIf="!details" class=" card card-body col-md-4 offset-md-4 text-center mt-4 font-weight-bolder font-italic"
                style="background-image: url(https://image.shutterstock.com/image-photo/black-cracked-texture-can-be-260nw-263213627.jpg); color: rgb(241, 229, 236);">
                No Record Found</h4>
              <div class="container ">
                <table class="table table-bordered mt-2 table-hover table-striped"
                  style="border-style: solid; border-width: 1px;">
                  <thead
                    style="background-image: url(https://cdn.pixabay.com/photo/2014/08/11/11/50/full-moon-415501__340.jpg);">
                    <tr class="text-center text-warning" *ngIf="details">
                      <th>Transection Id</th>
                      <th>Registration Id</th>
                      <th>Issue Date</th>
                      <th>Return Date</th>
                      <th>Return Book</th>
                    </tr>
                  </thead>
                  <tbody
                    style="background-image: url(https://cdn.pixabay.com/photo/2014/08/11/11/50/full-moon-415501__340.jpg);">
                    <tr *ngFor="let detail of allocatedBookService.details" style="color: rgb(239, 243, 7);" class="text-center">
                      <td>{{detail.transactionId}}</td>
                      <td>{{detail.registrationId}}</td>
                      <td>{{detail.issueDate}}</td>
                      <td>{{detail.returnDate}}</td>
                      <td ><button class="btn btn-outline-warning btn-blockr" (click)="returnBook(detail)">Return</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>